html, body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto,
    Segoe UI, Arial, sans-serif;
}

.App {

}
