.Header {
  padding: 12px;
  box-shadow: 0 0 1px rgba(1, 0, 0, .3);
  margin-bottom: 12px;

  &-Link {
    color: #111111;

    font-size: 28px;
    line-height: 35px;

    text-decoration: none;
  }
}
